body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(219, 219, 219);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

$fontClassy: ("Cormorant Unicase", serif);

.heading {
  margin: 2rem;
  color: rgb(67, 65, 73);
  font-size: 3.5rem;
  font-family: $fontClassy;
  letter-spacing: 3px;
}
